<!DOCTYPE html>
<html lnag="ko">

<head>
<meta charset="UTF-8">
<title> 로그인 화면</title>
<script src = "/js/home/login.js" defer></script>
</head>

<body>
<input id = "id" type="text" placeholder="아이디"><br>
<input id = "password" type="text" placeholder="비밀번호"><br>
<button>로그인</button>
</body>

</html>